* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: gray;
    height: 100vh;

}

.card {
    width: 40%;
    height: 60vh;
    text-align: center;
    padding-top: 20px;
    background: white;
    box-shadow: 5px 10px 10px black;

}

.card-title {
    color: yellowgreen;
    font-size: 3rem;
    padding: 10px 0px 10px 0;
}

.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
}

.todo-input {
    padding: 15px;
    width: 100%;
    border: .3px solid yellowgreen;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.todo-input::placeholder {
    color: yellowgreen;
    font-size: 1rem;
    font-weight: bold;
}

.todo-input:focus-within {
    outline: none;
}

.btn {
    width: 30%;
    border: none;
    background-color: chocolate;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.btn:hover {
    background: yellowgreen;
    width: 45%;

}

.display {
    width: 90%;
    height: 200px;
    background-color: gray;
    border-radius: 5px;
    margin: auto;
    margin-top: 3rem;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.display-ul {
    list-style: none;

}

.listItem {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;
    background: yellowgreen;
    color: white;
    border-left: 5px solid red;
    text-align: left;
    padding-left: 8px;
    font-size: 1.4rem;

}

.btn-2 {
    border: none;
    padding: 2px;
    margin-right: 5px;
    border-radius: 5px;
    background: red;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-2:hover {
    background: yellowgreen;
    color: black;
}